## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

In [1]:
pow(7,4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s = "Hi there Sam!"
l=s.split()

In [4]:
print(l)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [8]:
planet = "Earth"
diameter = 12742

In [10]:
print("The diameter of %s is %d kilometers." %(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [12]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [19]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

Tuples are enclosed in paranthesis whereas Lists are enclosed in square brackets.
Tuples are immutable whereas Lists are mutable.
Traversal is faster in tuple than list

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [23]:
def domain(website):
  ind=website.index("@")
  return website[ind+1:]

In [25]:
res=domain("user@domain.com")
print(res)

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [39]:
def dog(s):
  if "dog" in s.lower():
    return True
  else:
    return False

In [42]:
print(dog("Doggo"))
print(dog("digdog"))
print(dog("Dodge"))

True
True
False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [43]:
def countdog(s):
  return s.lower().count("dog")

In [45]:
print(countdog("dogdogdog"))
print(countdog("Doggoo"))
print(countdog("dodgeball"))

3
1
0

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [51]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speed = speed - 5
    
    if speed<=60:
      return "No Ticket"
    elif speed>=61 and speed<=80:
      return "Small Ticket"
    else:
      return "Big Ticket"

In [48]:
caught_speeding(89,False)

'Big Ticket'

In [52]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [53]:
l=[12000,13000,20000,18000,21000]
s=0
print("Salaries:")
for i in l:
  print(i)
  s+=i
print("Total Salary Expenditure:",s)

Salaries:
12000
13000
20000
18000
21000
Total Salary Expenditure: 84000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [56]:
dict1={"Empid":1900,"Empname":"Shivam","Basicpay":52000}
dict2={"DeptName":"IT","DeptId":101}
dict1.update(dict2)
print(dict1)

{'Empid': 1900, 'Empname': 'Shivam', 'Basicpay': 52000, 'DeptName': 'IT', 'DeptId': 101}